/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
.container {
  max-width: 80%;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.gameContainer {
  max-width: 50%;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  text-align: center;
}

.gameContainer h1 {
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 24px;
}

.gameBlock {
  display: flex;
  margin: 5px;
}

.gameBlockLeft {
  width: 50%;
  text-align: right;
  margin-right: 10px;
}

.gameBlockRight {
  width: 50%;
  text-align: left;

}

.longDescription {
 width: 50%;
 height: 200px;
}

.gameDayHeader {
  font-size: 32px;
  margin: auto 0;
  text-align: center;
}

.gameLabel {
font-weight: bold;
font-size: 18px;
}

.gameData {
  font-size: 18px;
}
  
.gameInput {
  border: none;
  border-bottom: 1px solid black;
  background-color: lightgray;
  font-size: 16px;
}

.gameInput:disabled {
  border: none;
  background-color: white;
}

.gameSystemInput {
  border: none;
  border-bottom: 1px solid black;
  background-color: lightgray;
  font-size: 16px;
  width: 41.5%;
}

.gameSystemInput:disabled {
  border: none;
  background-color: white;
}

.gameButton {

}

.gameSubmit {
  margin: 5px;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.slotAdd {
  display: inline;
}
.navBar {
  display:flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.menu {
  text-align: right;
  padding-right: 10px;
}

.menu-item {
  margin-left: 1em;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-size: 1.3em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.signInMessage {
  text-align: center;
  height: 500px;
}

.signInMessage h1 {
  margin: 225px;
}
 
.new-game input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-game input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  font-weight: bold;
  background: none;
  font-size: 20px;
  border: none;
  background-color: darkred;
  text-decoration: none;
  color: white;
  padding: 0;
  margin-right: 5px;
}

.join {
  font-weight: bold;
  background: none;
  font-size: 20px;
  border: none;
  background-color: darkred;
  text-decoration: none;
  color: white;
  padding: 0 3px;
  margin-right: 5px;
}

.leave {
  font-weight: bold;
  background: none;
  font-size: 20px;
  border: none;
  background-color: darkred;
  text-decoration: none;
  color: white;
  padding: 0 3px;
  margin-right: 5px;
}

.colHeaders {
  text-align: center;
  font-size: 2em;
}

.gameLink {
  font-size: 20px;
  padding: 0;
  text-decoration: none;
}

.gameMaster {
  font-size: 20px;
  padding: 0;
  margin-right: 5px;
}

.gamePlayers {
  font-size: 20px;
  padding: 0;
  margin-right: 5px;
}

.btnClaim {
  font-weight: bold;
  background: none;
  font-size: 20px;
  border: none;
  background-color: darkred;
  text-decoration: none;
  color: white;
  padding: 0 3px;
  margin-right: 5px;
}

.gameItem {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  height: 32px;
  border: 1px solid black;
  padding: 5px;
}

li {
  position: relative;
  list-style: none;
  padding: 10px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
  margin-right: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}

.Clock {
  margin-top: 20%;
  text-align: center;
  border: 1px solid black;
}

.Clock-title {
  display: block;
  font-size: 3em;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
  margin: 10px 0 0 0;
  display: inline;
  margin: 15px;
  font-size: 6em;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}