/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-image: url("/Parchment-Light2.jpg");
  background-color: #d6cca9;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100%;
  background: cornsilk;
  padding-top: 10px;
  padding-bottom: 10px;
}

.siteEntry {
  width: 100%;
  display: flex;
}

.entryLink {
  margin: 50px auto;
  text-decoration: none;
  border: 3px solid gray;
  width: 150px;
  height: 45px;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  padding-top: 3px;
  box-sizing: border-box;
  border-radius: 5px;
  color: gray;

}

.navBar {
  width: 100%;
  display:flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.navBarLeft {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.hamburgerMenu {
  display: block;
}

.burgerLine {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.menu {
  text-align: right;
  padding-right: 0px;
  display: flex;
}

.mainMenu {
  display: flex;
  background: none;
  height: 30px;
  box-sizing: border-box;
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
}

.mainMenuItem {
  padding: 0px;
  margin: 0px 0px 0px 30px;
  border: none;
}

.menu-item {
  margin: 0;
  margin-left: 1em;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;

}

.mainMenuItem:hover {
  background-color: cornsilk;
}

.mainMenuItem:hover .subMenu {
  margin: 0;
  margin-left: 0;
  display: block;
  position: absolute;
  z-index: 1;
  background-color: cornsilk;
}

.subMenu {
  display: none;
  margin: 0;
  padding: 0;
  left: 0;
}

.subMenuItem {
  margin: 0;
  padding: 10px 5px;
  text-decoration: none;
  cursor: pointer;
  width: 121px;
  text-align: left;
  font-size: 10px;
}

.gameContainer {
  max-width: 80%;
  margin: 0 auto;
  min-height: 100%;
  background: cornsilk;
  text-align: center;
  padding: 10px 0px;
}

.gameContainer h1 {
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 24px;
}

.gameBlock {
  display: flex;
  margin: 5px;
}

.gameBlockLeft {
  width: 50%;
  text-align: right;
  margin-right: 10px;
}

.gameBlockRight {
  width: 50%;
  display: flex;
  text-align: left;
}

.gameDayHeader {
  font-size: 32px;
  margin: auto 0;
  text-align: center;
}

.gameLabel {
  font-weight: bold;
  font-size: 18px;
}

.gameData {
  font-size: 18px;
}
  
.gameInput {
  border: none;
  border-bottom: 1px solid black;
  background-color: lightgray;
  font-size: 16px;
}

.gameInput:disabled {
  border: none;
  background-color: white;
}

.gameSystemInput {
  border: none;
  border-bottom: 1px solid black;
  background-color: lightgray;
  font-size: 16px;
  width: 41.5%;
}

.gameSystemInput:disabled {
  border: none;
  background-color: white;
}

.longDescription textarea {
  width: 75%;
  height: 400px;
  margin: 0 auto;
  background-color: lightgray;
  border: 1px solid black;
 }

 .longDescription textarea:disabled {
  border: none;
  background-color: white;
  border: 1px solid black;
 }

.gameSubmit {
  margin: 10px auto;
  width: 100px;
  height: 32px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 15px;
  background-color: crimson;
  color: white;
  border: none;
}

header {
  text-align: center;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
}

footer {
  padding: 5px 15px 15px 15px;
  position: relative;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.slotAdd {
  display: flex;
}

.slotAdd span, select, input {
  height: 30px;
  margin-right: 3px;
}

.slotAdd span {
  padding-top: 6px;
}

h2 {
  font-size: 1.3em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.signInMessage {
  text-align: center;
  height: 500px;
}

.signInMessage h1 {
  margin: 225px;
}
 
.new-game input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-game input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  font-weight: bold;
  background: none;
  font-size: 16px;
  border: none;
  background-color: crimson;
  text-decoration: none;
  color: white;
  padding: 0 3px;
  margin: auto;
  margin-right: 5px;
}

.join {
  font-weight: bold;
  background: none;
  font-size: 20px;
  border: none;
  background-color: darkred;
  text-decoration: none;
  color: white;
  padding: 0 3px;
  margin-right: 5px;
}

.leave {
  font-weight: bold;
  background: none;
  font-size: 20px;
  border: none;
  background-color: darkred;
  text-decoration: none;
  color: white;
  padding: 0 3px;
  margin-right: 5px;
}

.colHeaders {
  text-align: center;
  font-size: 1.5em;
  color: dimgray
}

.gameLink {
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin-top: 15px;
}

.gameMaster {
  font-size: 20px;
  padding: 0;
  margin-right: 5px;
}

.gamePlayers {
  font-size: 20px;
  padding: 0;
  margin-right: 5px;
}

.btnClaim {
  font-weight: bold;
  background: none;
  font-size: 20px;
  border: none;
  background-color: darkred;
  text-decoration: none;
  color: white;
  padding: 0 3px;
  margin-right: 5px;
}

.gameItem {
  box-sizing: border-box;
  height: 32px;
  border: 1px solid darkred;
  padding: 5px;
}

.gameDetailsGroup {
  width: 60%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border: 1px solid darkred;
}

.gameDetailsHeader {
  background-color: chocolate;
  height: 40px;
}

.gameDetailsHeader h1 {
  margin: 0;
  padding: 8px
}



li {
  position: relative;
  list-style: none;
  padding: 10px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
  margin-right: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}

.Clock {
  margin-top: 20%;
  text-align: center;
  border: 1px solid darkred;
}

.Clock-title {
  display: block;
  font-size: 3em;
  color: darkred;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
  margin: 10px 0 0 0;
  display: inline;
  margin: 15px;
  font-size: 6em;
  color: darkred;
}

.forumHeader {
  text-align: center;
  margin-bottom: 20px;
}

.forumHeader h1 {
  font-size: 32px;
}

.topicGroup {
  margin: 0px 0px 20px 0px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.forumTopic {
  border: 1px solid black;
  background-color: chocolate;
  display: flex;
}
.forumTopicId {
  display: flex;
  width: 75%;
}

.forumTopicId h1 {
  color: black;
  height: auto;
}

.topicEditLink, .topicDelete {
  border: 1px solid black;
  height: auto;
}

.forumTopicId h1 {
  font-size: 28px;
  margin: auto 10px;
}

.topicEditLink {
  padding: 8px;
  text-decoration: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  font-size: 12px;
}

.topicDelete {
  background-color: crimson;
  font-size: 20px;
  color: wheat;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

.forumTopicPosts {
  width: 10%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.forumTopicLatest {
  width: 15%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.forumTopicList {
  padding-bottom: 10px;
}

.forumAdmin {
  padding: 10px 10px;
}

.topicAdd, .subTopicAdd {
  margin-bottom: 20px;
}

.topicalPostsList {
  padding: 0px 5px;
}

.subTopicHeader {
  background-color: chocolate;
  margin: 10px 5px 0px 5px;
  padding: 5px;
}

.subTopicLink {
  border: 1px solid darkred;
  border-top: none;
  background-color: cornsilk;
  display: flex;
  padding: 5px;
}

.subTopicLinkId {
  display: flex;
  width: 75%;
}

.subTopicLinkTitle {
 display: block;
}

.subTopicLinkDelete {
  margin-right: 5px;
}

.subTopicPosts {
  text-align: center;
  width: 10%;
  margin: auto;
}

.subTopicLatest {
  text-align: center;
  width: 15%;
}

.topicalPostLink {
  padding: 5px;
  border: 1px solid darkred;
  border-top: none;
}

.subTopicTitle {
  font-weight: bold;
  font-size: 28px;
  padding-right: 10px;
}

.subTopicText {
  font-size: 20px;
}

.topicalPostAdd {
  padding: 10px;
}

.topicalPostAdd span, textarea, input {
  display: block;
  margin-bottom: 5px;
}

.topicalPostAddTitle {
  border: 1px solid black;
  width: 100%;
}

.topicalPostAdd textarea {
  width: 100%;
  height: 50px;
  border: 1px solid black;  
}

.topicalPostAddTitle, .topicalPostAddBody {
  display: inline;
}

.threadHeader {
  background-color: chocolate;
  margin: 0px 10px;
}

.threadHeader h1 {
  margin: 0px 10px;
  padding: 5px 0px;
}
.mainPost {
  display: flex;
  border: 1px solid darkred;
  margin: 0px 10px 10px 10px;
}

.postOwnerInfo {
  padding: 5px;
}

.postOwnerInfo img {
  width: 100px;
  margin: 10px 0px 0px 0px;
  display: block;
}

.postDetails {
  border-left: 1px solid darkred;
  width: 100%;
}

.postTitle {
  padding: 15px 10px 0px 10px;
  width: 100%;
  box-sizing: border-box;
}

.postTitle span {
  font-weight: 600;
}

.postBody {
  padding: 0px 10px 5px 10px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.replyBody {
  width: 100%;
  height: 50px;
}

.replyPost {
  padding: 10px;
}

.replyPostDetails {
  border-left: 1px solid darkred;
  display: flex;
}

.replyPostOwnerMenu {
  margin-top: 15px;
}

.repliesHeader {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 10px 10px 10px;
}

.repliesList {
  padding: 0px 10px 10px 30px;
}

.replyGroup {
  display: flex;
  border: 1px solid darkred;
  margin: 10px 0;
}

.replyPostBody {
  padding: 0 10px;
  width: auto;
  height: auto;
}

.replyPostBody img {
  width: 50px;
  height: 50px;
}

.postOwnerMenu {
  padding-top: 10px;
  margin: 0px 10px;
}

.markedArea {
  width: 100%;
}

.markedHeading {
  text-align: center;
}

.markdInst {
  width: 100%;
  height: 210px;
}

.markdInst textarea {
  width: 95%;
  height: 200px;
  border: none;
}

.topicEdit {
  width: 60%;
  margin: 0 auto;
  border: 1px solid darkred;
  display: flex;
  flex-direction: column;
}

.topicEditHeader {
  background-color: chocolate;
  width: 100%;
  height: 40px;
  text-align: center;
}

.topicEditHeader h1 {
  font-size: 32px;
}

.topicEditForm {
  padding: 10px;
}
.topicEditTitle {
  width: 100%;
  box-sizing: border-box;
  padding-left: 5px;
}

.topicEditText {
  width: 100%;
  height: 50px;
  height: 400px;
  padding: 5px;
  box-sizing: border-box;
}

.subTopicEdit {
  width: 60%;
  margin: 0 auto;
  border: 1px solid darkred;
  display: flex;
  flex-direction: column;
}

.subTopicEditHeader {
  background-color: chocolate;
  width: 100%;
  height: 40px;
  text-align: center;
}

.subTopicEditHeader h1 {
  font-size: 32px;
}

.subTopicEditForm {
  padding: 10px;
}
.subTopicEditTitle {
  width: 100%;
  box-sizing: border-box;
  padding-left: 5px;
}

.subTopicEditText {
  width: 100%;
  height: 50px;
  height: 400px;
  padding: 5px;
  box-sizing: border-box;
}

.postEdit {
  width: 60%;
  margin: 0 auto;
  border: 1px solid darkred;
  display: flex;
  flex-direction: column;
}

.postEditHeader {
  background-color: chocolate;
  width: 100%;
  height: 40px;
  text-align: center;
}

.postEditHeader h1 {
  font-size: 32px;
}

.postEditForm {
  padding: 10px;
}
.postEditTitle {
  width: 100%;
  box-sizing: border-box;
  padding-left: 5px;
}

.postEditText {
  width: 100%;
  height: 50px;
  height: 400px;
  padding: 5px;
  box-sizing: border-box;
}

.replyEdit {
  width: 60%;
  margin: 0 auto;
  border: 1px solid darkred;
  display: flex;
  flex-direction: column;
}

.replyEditHeader {
  background-color: chocolate;
  width: 100%;
  height: 40px;
  text-align: center;
}

.replyEditHeader h1 {
  font-size: 32px;
}

.replyEditForm {
  padding: 10px;
}

.replyEditText {
  width: 100%;
  height: 50px;
  height: 400px;
  padding: 5px;
  box-sizing: border-box;
}

.editTitle {
  width: 100%;
  box-sizing: border-box;
}

.editText {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.editLink {
  margin-left: 15px;
}

.blogMainHeader {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
}

.blogMainHeader h1 {
  font-size: 32px;
  margin: 5px auto;
}

.blogCreateLink {
  margin: 0 auto;
  text-decoration: none;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  background-color: blue;
  padding: 3px;
}

.blogAndForum {
  margin: 10px 10px 0px 10px;
  display: flex;
  padding: 10px 10px 0px 10px;
}

.blogGroup {
  width: 75%;
  margin-right: 20px;
  box-sizing: border-box;
}

.blogContainer {
  display: flex;
}

.blogHeader {
  text-align: center;
}

.blogTitle {
  font-size: 32px;
  padding: 5px 0px;
}

.blogItem {
  width: 75%;
  padding-bottom: 10px;
  margin: 10px;
}

.blogItemHeader {
  background-color: chocolate;
  display: flex;
  height: 40px;
}

.blogItemHeader span {
  margin: 0;
  padding: 10px 10px;
  font-style: italic;

}

.blogItemHeader button {
  height: auto;  
  background-color: crimson;
  color: white;
  border: none;
}

.blogPreviewItem {
  width: 100%;
  padding-bottom: 10px;
  border: 1px solid darkred;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.blogPreviewHeader {
  background-color: chocolate;
  display: flex;
  height: 40px;
  padding: 0px 10px;
}

.blogPreviewItem span {
  padding: 15px 10px 5px 10px;
  font-style: italic;
}

.blogPreviewBody {
  padding: 5px 10px 10px 10px;
}

.blogPreviewLink {
  margin-left: 10px;
}

.blogEditLink {
  height: 100%;
  box-sizing: border-box;
  padding: 13px 10px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  font-size: 12px;

}

.blogBodyGroup {
  border: 1px solid darkred;
  padding: 10px;  
}

.blogBody {
  padding: 0px 10px;
}
.editorPreviewGroup {
  display: flex;
  padding: 0px 10px;
}

.blogEditorHeader {
  text-align: center;
}

.blogEditorHeader h1 {
  margin: 10px 0px 15px 0px;
  font-size: 32px;
}

.editorGroupHeader {
  border: 1px solid darkred;
  background-color: chocolate;
  height: 40px;
  text-align: center;  
}

.editorGroupHeader h3 {
  margin: 0;
  padding: 10px;
}

.blogEditor {
  border: 1px solid darkred;
  margin: 0;
  width: 50%;
  padding-bottom: 15px;
}

.blogEditorGroup {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.blogEditorTitle {
  width: 100%;
  box-sizing: border-box;
}

.blogEditorBody {
  width: 100%;
  height: 500px;
  box-sizing: border-box;

}

.blogEditPreview {
  margin-left: 20px;
  width: 50%;
  border: 1px solid darkred;
}

.blogEditTitlePreview {
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
}

.newBlogPreview {
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
  padding: 10px; 
}

.blogUpdate {
  border: 1px solid black;
}

.blogUpdate  {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.blogUpdateHeader {
  text-align: center;
  background-color: chocolate;
}

.blogUpdateHeader h1 {
  padding: 15px 0;
  height: 40px;
  box-sizing: border-box;
}



.editBlogTitle {
 width: 100%;
 box-sizing: border-box;
}

.editBlogBody {
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
 
}

.commentBlock {
  margin-top: 0px;
}

.commentBlockTitle {
  margin: 20px 0px 0px 0px;
}

.commentItem {
  display: flex;
  flex-direction: column;
  border: 1px solid darkred;
  padding : 10px;
  margin-bottom: 10px;
}

.commentItem span {
  font-style: italic;
}
.commentItem button {
  width: 55px;
  margin-right: 10px;
  background-color: crimson;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 10px;
  font-size: 9px;
  text-transform: uppercase;
}

.commentEditLink {
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  font-size: 9px;
}

.commentEdit {
  padding: 10px;
}

.addCommentBlock {
  border: 1px solid darkred;
  padding: 10px 15px 10px 10px;
  margin-top: 20px;
}

.addCommentBlock form {
  margin-bottom: 5px;  
}

.addCommentBlock textarea {
  width: 100%;
  height: 100px;
}

.editCommentBody {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  margin: 0px 10px 10px 0px;
  

}

.blogArchive {
  border: 1px solid darkred;
  width: 25%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.blogArchiveHeader {
  background-color: chocolate;
  margin: 0;
  height: 40px;
  text-align: center;
}

.blogArchiveHeader h3 {
  margin: auto 0;
  padding: 10px;
}

.archiveList {
  padding: 10px;
}

.archiveItem {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}

.archiveLink {
  text-decoration: none;
  font-size: 16px;
}

.archivePostingDetails {
  font-size: 12px;
  font-style: italic;

}

.forumGroup {
  width: 20%;
}

.userArea {
  padding: 0;
  margin: 0px;
  cursor: pointer;
}

.userLableGroup {
  display: flex;
  margin-top: 5px;
  padding: 0px 5px;
}

.userLable {
  padding-top: 3px;
  margin-right: 5px;
}

.userLableGroup button {
  border-radius: 5px;
  background-color: burlywood;
}

.loginRegisterGroup {
  display: flex;
  box-sizing: border-box;
  padding: 0px 5px;
  margin-top: 5px;
}

.loginRegisterGroupLabel {
  height: 18px;
  background-color: burlywood;
  color: whitesmoke;
  font-size: 16px;
  padding: 3px;
  margin-right: 5px;
  border: 1px solid lightslategray;
  border-radius: 5px;
}
.loginRegister {
  height: 24px;
  display: flex;
  padding: 0;
  margin: 0;  
}

.loginForm {
  box-sizing: border-box;
  margin: 0px 5px 0px 0px;
  height: 22px;
}
.loginForm form {
  margin: 0;
  height: 100%;
  display: flex;
  padding: 0px;
}

.loginForm input {
  height: 100%;
  font-size: 12px;
  padding: 0px 3px;
  margin: 0px 3px 0px 0px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
}

.toggleLabel {
  box-sizing: border-box;
  height: 24px;
  border: 1px solid darkred;
  border-radius: 5px;
  background-color: burlywood;
  color: crimson;
  padding: 3px;
}

.toggleLabel span {
  padding: 0;
  font-size: 12px;
}

.loginButton {
  box-sizing: border-box;
  height: 24px;
  font-size: 12px;
  background-color: lightseagreen;
  color: whitesmoke;
  border-radius: 5px;
  text-transform: capitalize;
}

.profileHeader {
  width: 100%;
  text-align: center;
  margin: 0;
}

.profileHeader h1{
  font-size: 36px;
}

.profileContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 20px;
}

.userInfo {
  width: 49%;
  border: 1px solid darkred;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.userContent {
  width: 49%;
}

.userInfo h1{
  width: 100%;
  background-color: chocolate;
  text-align: center;
  padding: 5px 0px;
  font-size: 24px;
  margin: 0px 0px 10px 0px;
}

.userItem {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-left: 10px;
}

.sigTextarea form {
  flex-direction: column;
  width: 100%;
  border: none;
}

.profileForm {
  width: 325px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
  border-bottom: 1px solid lightslategray;
}

.profileActionButton {
  margin: 0 auto;
}

.profileForm input {
  border: none;
  background-color: lightgray;
  font-size: 16px;
  box-sizing: border-box;
  height: 100%;
  padding-left: 5px;
  width: 50%;
}

.profileForm label {
  padding: 7px 10px 7px 0px;
}

.profileForm input:disabled {
  border: none;
  background-color: cornsilk;
  height: 100%;
  padding-left: 5px;
}

.profileForm input::placeholder {
  color: black;
}

.profileFormEdit {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background-color: darkgray;
  color: black;
  height: 18px;
  margin: auto 0;
}

.signatureHeader {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}

.sigTextarea span {
  margin: auto 0;
  margin-right: 10px;
}

.profileFormTextareaEdit {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background-color: darkgray;
  color: black;
  height: 18px;
  width: auto;
}

.profileFormTextareaSubmit {
  width: 75px;
  margin: 0 auto;
}

.avatarHeader {
  margin: 0 auto;
}

.avatarBody {
  margin: 0 auto;
}

.userAvatar {
  flex-direction: column;
}

.avatar {
  width: 100px;
  height: 200px;
  margin: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.avatarList {
  display: flex;
}

.forumSigGroup {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.forumSignature {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
}

.userGames {
  width: 100%;
  height: 30%;
  border: 1px solid darkred;
}

.userGames h1{
  width: 100%;
  background-color: chocolate;
  text-align: center;
  padding: 5px 0px;
  font-size: 24px;
}

.userPosts {
  width: 100%;
  height: 70%;
  border: 1px solid darkred;
}

.userPosts h1{
  width: 100%;
  background-color: chocolate;
  text-align: center;
  padding: 5px 0px;
  font-size: 24px;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
}

.modal form {
  margin-bottom: 10px;
}
.close {
  color: #aaaaaa;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 600px) {

  .profileContent {
    flex-direction: column;
    width: 100%;
  }
  
  .userInfo {
    width: 100%;
  }
  
  .userContent {
    width: 100%;
  }


}

@media (min-width: 1200px) {

  .container {
    max-width: 80%;
  }

  .navBar {
    max-width: 80%;
  }

  .hamburgerMenu {
    display: none;
  }

  .markedArea {
    display: flex;
    justify-content: space-around;
  }

  .markdInst {
    width: 45%;
  }
}