/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #d6cca9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
 
.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  min-height: 100%;
  background: cornsilk;
  padding-top: 10px;
  padding-bottom: 10px;
}

.siteEntry {
  width: 100%;
  display: flex;
}

.entryLink {
  margin: 50px auto;
  text-decoration: none;
  border: 3px solid gray;
  width: 150px;
  height: 45px;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  padding-top: 3px;
  box-sizing: border-box;
  border-radius: 5px;
  color: gray;

}

.gameContainer {
  max-width: 50%;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  text-align: center;
  padding: 5px 0px;
}

.gameContainer h1 {
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 24px;
}

.gameBlock {
  display: flex;
  margin: 5px;
}

.gameBlockLeft {
  width: 50%;
  text-align: right;
  margin-right: 10px;
}

.gameBlockRight {
  width: 50%;
  display: flex;
  text-align: left;
}

.gameDayHeader {
  font-size: 32px;
  margin: auto 0;
  text-align: center;
}

.gameLabel {
  font-weight: bold;
  font-size: 18px;
}

.gameData {
  font-size: 18px;
}
  
.gameInput {
  border: none;
  border-bottom: 1px solid black;
  background-color: lightgray;
  font-size: 16px;
}

.gameInput:disabled {
  border: none;
  background-color: white;
}

.gameSystemInput {
  border: none;
  border-bottom: 1px solid black;
  background-color: lightgray;
  font-size: 16px;
  width: 41.5%;
}

.gameSystemInput:disabled {
  border: none;
  background-color: white;
}

.longDescription textarea {
  width: 75%;
  height: 400px;
  margin: 0 auto;
  background-color: lightgray;
  border: 1px solid black;
 }

 .longDescription textarea:disabled {
  border: none;
  background-color: white;
  border: 1px solid black;
 }

.gameSubmit {
  margin: 10px auto;
  width: 200px;
  height: 40px;
  font-size: 26px;
  text-transform: uppercase;
  border-radius: 15px;
  background-color: forestgreen;
}

header {
  text-align: center;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
}

footer {
  padding: 5px 15px 15px 15px;
  position: relative;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.slotAdd {
  display: flex;
}

.slotAdd span, select, input {
  height: 30px;
  margin-right: 3px;
}

.slotAdd span {
  padding-top: 6px;
}

.navBar {
  display:flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}

.menu {
  text-align: right;
  padding-right: 10px;
}

.menu-item {
  margin-left: 1em;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-size: 1.3em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.signInMessage {
  text-align: center;
  height: 500px;
}

.signInMessage h1 {
  margin: 225px;
}
 
.new-game input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-game input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  font-weight: bold;
  background: none;
  font-size: 16px;
  border: none;
  background-color: crimson;
  text-decoration: none;
  color: white;
  padding: 0 3px;
  margin: auto;
  margin-right: 5px;
}

.join {
  font-weight: bold;
  background: none;
  font-size: 20px;
  border: none;
  background-color: darkred;
  text-decoration: none;
  color: white;
  padding: 0 3px;
  margin-right: 5px;
}

.leave {
  font-weight: bold;
  background: none;
  font-size: 20px;
  border: none;
  background-color: darkred;
  text-decoration: none;
  color: white;
  padding: 0 3px;
  margin-right: 5px;
}

.colHeaders {
  text-align: center;
  font-size: 1.5em;
  color: dimgray
}

.gameLink {
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin-top: 15px;
}

.gameMaster {
  font-size: 20px;
  padding: 0;
  margin-right: 5px;
}

.gamePlayers {
  font-size: 20px;
  padding: 0;
  margin-right: 5px;
}

.btnClaim {
  font-weight: bold;
  background: none;
  font-size: 20px;
  border: none;
  background-color: darkred;
  text-decoration: none;
  color: white;
  padding: 0 3px;
  margin-right: 5px;
}

.gameItem {
  box-sizing: border-box;
  height: 32px;
  border: 1px solid darkred;
  padding: 5px;
}

li {
  position: relative;
  list-style: none;
  padding: 10px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
  margin-right: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}

.Clock {
  margin-top: 20%;
  text-align: center;
  border: 1px solid darkred;
}

.Clock-title {
  display: block;
  font-size: 3em;
  color: darkred;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
  margin: 10px 0 0 0;
  display: inline;
  margin: 15px;
  font-size: 6em;
  color: darkred;
}

.forumHeader {
  text-align: center;
  margin-bottom: 20px;
}

.forumHeader h1 {
  font-size: 32px;
}

.topicGroup {
  margin: 0px 0px 20px 0px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.forumTopic {
  border: 1px solid black;
  background-color: chocolate;
  display: flex;
}
.forumTopicId {
  display: flex;
  width: 75%;
}

.forumTopicId h1 {
  color: black;
  height: auto;
}

.topicEditLink, .topicDelete {
  border: 1px solid black;
  height: auto;
}

.forumTopicId h1 {
  font-size: 28px;
  margin: auto 10px;
}

.topicEditLink {
  padding: 8px;
  text-decoration: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  font-size: 12px;
}

.topicDelete {
  background-color: crimson;
  font-size: 20px;
  color: wheat;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

.forumTopicPosts {
  width: 10%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.forumTopicLatest {
  width: 15%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.forumTopicList {
  padding-bottom: 10px;
}

.forumAdmin {
  padding: 10px 10px;
}

.topicAdd, .subTopicAdd {
  margin-bottom: 20px;
}

.topicalPostsList {
  padding: 0px 5px;
}

.subTopicHeader {
  background-color: chocolate;
  margin: 10px 5px 0px 5px;
  padding: 5px;
}

.subTopicLink {
  border: 1px solid darkred;
  border-top: none;
  background-color: cornsilk;
  display: flex;
  padding: 5px;
}

.subTopicLinkId {
  display: flex;
  width: 75%;
}

.subTopicLinkTitle {
 display: block;
}

.subTopicLinkDelete {
  margin-right: 5px;
}

.subTopicPosts {
  text-align: center;
  width: 10%;
  margin: auto;
}

.subTopicLatest {
  text-align: center;
  width: 15%;
}

.topicalPostLink {
  padding: 5px;
  border: 1px solid darkred;
  border-top: none;
}

.subTopicTitle {
  font-weight: bold;
  font-size: 28px;
  padding-right: 10px;
}

.subTopicText {
  font-size: 20px;
}

.topicalPostAdd {
  padding: 10px;
}

.topicalPostAdd span, textarea, input {
  display: block;
  margin-bottom: 5px;
}

.topicalPostAddTitle {
  border: 1px solid black;
  width: 100%;
}

.topicalPostAdd textarea {
  width: 100%;
  height: 50px;
  border: 1px solid black;  
}

.topicalPostAddTitle, .topicalPostAddBody {
  display: inline;
}

.threadTitle {
  margin: 0px 10px;
}
.mainPost {
  display: flex;
  border: 1px solid darkred;
  margin: 0px 10px 10px 10px;
}

.postOwnerInfo {
  padding: 5px;
}

.postOwnerInfo span {
}

.postOwnerInfo img {
  width: 100px;
  margin: 10px 0px 0px 0px;
  display: block;
}

.postDetails {
  border-left: 1px solid darkred;
  width: 100%;
}

.postTitle {
  padding: 15px 10px 0px 10px;
  width: 100%;
  box-sizing: border-box;
}

.postTitle span {
  font-weight: 600;
}

.postBody {
  padding: 0px 10px 5px 10px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.replyBody {
  width: 100%;
  height: 50px;
}

.replyPost {
  padding: 10px;
}

.replyPostDetails {
  border-left: 1px solid darkred;
  display: flex;
}

.replyPostOwnerMenu {
  margin-top: 15px;
}

.repliesHeader {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 10px 10px 10px;
}

.repliesList {
  padding: 0px 10px 10px 10px;
}

.replyGroup {
  display: flex;
  border: 1px solid darkred;
  margin: 10px 0;
}

.replyPostBody {
  padding: 0 10px;
  width: auto;
  height: auto;
}

.replyPostBody img {
  width: 50px;
  height: 50px;
}

.postOwnerMenu {
  padding-top: 10px;
  margin: 0px 10px;
}

.markedArea {
  width: 100%;
}

.markedHeading {
  text-align: center;
}

.markdInst {
  width: 100%;
  height: 210px;
}

.markdInst textarea {
  width: 95%;
  height: 200px;
  border: none;
}

.postEdit {
  padding: 10px;
}
.editTitle {
  width: 100%;
  box-sizing: border-box;
}

.editText {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.editLink {
  margin-left: 15px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }

}

@media (min-width: 1200px) {
  .markedArea {
    display: flex;
    justify-content: space-around;
  }

  .markdInst {
    width: 45%;
  }
}